:root {
    --primary-color: white;
    --seconday-color: black;
    --tertiary-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header style */

header {
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-image: url('../images/truckandtrailer.jpg');
    background-size: cover;
    background-position: center;
    background-position: 80%;
    background-attachment: fixed;
    background-color: skyblue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 a {
    color: black;
    margin: 0;
    text-decoration: none;
    font-family: 'Faster One';
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: black;
    font-family: 'Faster One';
}

header nav ul li a:hover {
    background: silver;
    color: red;
    border-radius: 15px;
    text-shadow: black;
}

section {
    padding: 60px;
}

/* Services section */

.hero {
    background-image: url('../images/truckandtrailer.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: scroll;
    background-position: 80%;
}
.hero-services {
   text-align: center;
   width: 70%;
}

.hero-services h2 {
   text-decoration: underline;
   padding-bottom: 0;
   font-size: 30px;
   font-family: 'Faster One';
   color: black;
}

.hero-services p {
    padding: 20px;
    font-size: 26px;
    font-family: 'Big Shoulders Stencil Text';
    letter-spacing: 2px;
    color: black;
    font-weight: bolder;
}

/* Page break styling */

.pageBreak {
    padding: 50px;
    border: 10px;
    text-align: center;
    font-size: 35px;
    font-family: 'Faster One';
    flex-wrap: wrap;
}
/* Contact section */

.contact-section {
    background-color: white;
}

.contact-section h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: 'Big Shoulders Stencil Text';
    letter-spacing: 1px;
}

.contact-info {
    padding: 5px;
    font-family: 'Big Shoulders Stencil Text';
    letter-spacing: 1px;
}

.contact-info h3 {
    font-size: 28px;
    padding: 5px;
}

.contact-info p {
    font-size: 26px;
    padding: 5px;
}

/* Footer styleing */

.footer-wrapper {
    padding: 10px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Big Shoulders Stencil Text';
}

.footer-wrapper h4 {
    margin: 0;
}
.footer-wrapper h4 div {
    text-align: right;
}

/* Media Quaries */