:root {
    --primary-color: white;
    --seconday-color: black;
    --tertiary-color: orange;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header style */

header {
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-image: url("../images/truckandtrailer.jpg");
    background-size: cover;
    background-position: center;
    background-position: 80%;
    background-attachment: fixed;
    opacity: 90%;
    background-color: skyblue;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 a {
    color: black;
    margin: 0;
    text-decoration: none;
}

header nav{
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
    color: black;
}

header nav ul li a:hover {
    background: silver;
    color: red;
    border-radius: 15px;
    text-shadow: black;
}

section {
    padding: 60px;
}

/* Services section */

.hero {
    background-image: url("../images/truckandtrailer.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    opacity: 90%;
}
.hero-services {
   text-align: center;
   color: white;
   width: 70%;
}

.hero-services h2 {
   text-decoration: underline;
   padding-bottom: 0;
   font-size: 30px;
}

.hero-services p {
    padding: 20px;
    font-size: 26px;
}

/* Contact section */

.contact-section{
    background-color: white;
}

.contact-section h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

.contact-info {
    padding: 5px;
}

.contact-info h3 {
    font-size: 28px;
    padding: 5px;
}

.contact-info p {
    font-size: 26px;
    padding: 5px;
}